body{
	background-image: url('letters.gif');
}

#container{
	background-color: lightgreen;
	border:5px solid white;
	height: 300px;
	width: 850px;
	margin-top: 13%;
	margin-left: 21%;
	text-align: center;
}
p{
	color: black;
	font-size:24px;
}
#imput{
	width: 100px;
	margin: 25px ;
}
#btn{
	margin: 25px auto ;
}
