
body{
	font-family: 'Fira Code', monospace;
	background-image: url('back.gif');
	text-align: center;
	color: white;
}
main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#container1{
	background-color: #6CB4EE;
	height: 300px;
	width: 500px;
	float: left;
	border-radius: 10px;
}
#container2{
	background-color: #6CB4EE;
	height: 300px;
	width: 500px;
	float: right;
	border-radius: 10px;
}
h1{
	cursor: pointer;
  	position: relative;
 	display: inline-block;
  	font-size: 3rem;
  	background: linear-gradient(to bottom, #fff, #fff 60%, #000 60%, #000 100%);
 	background-clip: text;
  	-webkit-background-clip: text;
  	color: transparent;
  	background-repeat: no-repeat;
  	transition: background 0.2s ease-out;
  	white-space: nowrap;
	text-align: center;
}
span {
  position: relative;
}
span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  background: #000;
  bottom: 9px;
  transition: all 0.2s ease-out;
}
h1:hover {
  background-position: 0 11px;
}
span:hover:before {
  transform: translateY(10px)
}

p{
	font-size: 25px;
	text-align: center;
}
.frontpage{
	position: absolute;
	background-color: #FFFFFF;
	background-image: linear-gradient(180deg, #8a867e 0%, #6284FF 50%, #cc9929 100%);
	height: 300px;
	width: 500px;
	left:32%;
	top:214px;
	border-radius: 10px;
}

#lw{
color: background-color: #fc5296;
background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); ;
	
}
#gmn{
color: background-color: #fc5296;
background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); ;
	
}
.start{
    background-color:#fd5c63;
	margin: 100px;
	border-radius: 5px;
}
#user{
	font-size: 30px;
}
//________________________________________________________________________________________________

#hair{
	position: absolute;
	right:10px;
	top:100px;
}
#shirt{
	position: absolute;
	right:10px;
	top:130px;
}
#pants{
	position: absolute;
	right:10px;
	top:160px;
}
#boots{
	position: absolute;
	right:10px;
	top:190px;
}

}
#submit{
	position: absolute;
	left: 10px;
	top: 150px;
}
#body{
	width: 50%;
	height: 90%;
	margin-top: 15px;
}

.hair{
position: absolute;
left: 70%
}
.shirt{
position: absolute;
left: 70%
}
.pants{
position: absolute;
left: 70%
}
.boots{
position: absolute;
left: 70%
}
#submit{
position: absolute;
left: 70%
}
.red{
	background-color: red
}
.blue{
	background-color: blue
}
.brown{
	background-color: brown
}
.green{
	background-color: green
}
.black{
	background-color: black
}
#hair1{
color: red
}
#shirt1{
color: red
}
#pants1{
color: red
}
#boots1{
color: red
}
.hair1{
	position: absolute;
	height:115px;
	width: 110px;
	margin-top: 20px;
	right: 49.5%;
	z-index: 10 ;

}
.shirt1{
	position: absolute;
	height:125px;
	width: 130px;
	margin-top: 110px;
	right: 49.5%;
	z-index: 10 ;

}
.pants1{
	position: absolute;
	height:105px;
	width: 100px;
	margin-top: 160px;
	right: 50%;
	z-index: 10 ;

}
.boots1{
	position: absolute;
	height:105px;
	width: 100px;
	margin-top: 200px;
	/*left: 2%;*/
	right: 50%;
	z-index: 10 ;
}
#body{
	position: relative;
	z-index: 1;
	height: 250px;
	width:150px;
	padding-top: 15px;
	margin-right: 115px;
}
